<!-- header -->
<%- include('partials/header.ejs') %>

    <body>

        <!-- HEADER -->
        <%- include('partials/menu.ejs') %>

            <main>

                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h2 class="text-uppercase text-center">Endereço de entrega</h2>
                                <hr />
                                <div class="mt-4 row justify-content-center">
                                    <div class="col col-lg-6">

                                        <form action="adressRegistration" class="form row justify-content-center" method="post">
                                            <div class="col-12 mb-3">
                                                <label class="formLabel" for="address">Endereço*</label>
                                                <input type="text" name="address" required
                                                    placeholder="Rua / Avenida / Praça" id="address"
                                                    class="form__control w-100" />
                                            </div>
                                            <div class="col-12 mb-3">
                                                <label class="formLabel" for="number">Número*</label>
                                                <input type="text" name="number" required placeholder="Número"
                                                    id="number" class="form__control w-100" />
                                            </div>
                                            <div class="col-12 mb-3">
                                                <label class="formLabel" for="complemento">Complemento*</label>
                                                <input type="text" name="complemento" required
                                                    placeholder="Casa / Apartamento" id="complemento"
                                                    class="form__control w-100" />
                                            </div>
                                            <div class="col-12 mb-3">
                                                <label class="formLabel" for="bairro">Bairro*</label>
                                                <input type="text" name="bairro" required placeholder="Bairro"
                                                    id="bairro" class="form__control w-100" />
                                            </div>
                                            <div class="col-12 mb-3">
                                                <label class="formLabel" for="city">Cidade*</label>
                                                <input type="text" name="city" required placeholder="Cidade" id="city"
                                                    class="form__control w-100" />
                                            </div>
                                            <div class="col-12 mb-3">
                                                <label class="formLabel" for="state">Estado*</label>
                                                <input list="state" name="state" required class="form__control w-100" />

                                                <datalist id="state">
                                                    <option value="AC"></option>
                                                    <option value="AL"></option>
                                                    <option value="AM"></option>
                                                    <option value="AP"></option>
                                                    <option value="BA"></option>
                                                    <option value="CE"></option>
                                                    <option value="DF"></option>
                                                    <option value="ES"></option>
                                                    <option value="GO"></option>
                                                    <option value="MA"></option>
                                                    <option value="MG"></option>
                                                    <option value="MS"></option>
                                                    <option value="MT"></option>
                                                    <option value="PA"></option>
                                                    <option value="PB"></option>
                                                    <option value="PE"></option>
                                                    <option value="PI"></option>
                                                    <option value="PR"></option>
                                                    <option value="RJ"></option>
                                                    <option value="RO"></option>
                                                    <option value="RN"></option>
                                                    <option value="RR"></option>
                                                    <option value="RS"></option>
                                                    <option value="SC"></option>
                                                    <option value="SE"></option>
                                                    <option value="SP"></option>
                                                    <option value="TO"></option>
                                                </datalist>
                                            </div>
                                            <div class="col-12 mb-5">
                                                <label class="formLabel" for="cep">CEP*</label>
                                                <input type="text" name="cep" required placeholder="Ex 00.000-000"
                                                    id="cep" class="form__control w-100" />
                                            </div>
                                            <div class="col-12 text-center">
                                                <button type="submit" class="btn form__submit">Entregar neste
                                                    endereço</button>
                                            </div>
                                        </form>
                                    </div>                                    
                                </div>
                            </div>

                        </div>
                    </div>
                    </div>
                </section>


                <%- include('partials/trending.ejs') %>

                <%- include('partials/benefits.ejs') %>

                <%- include('partials/instagram.ejs') %>

            </main>

            <!-- FOOTER -->
            <%- include('partials/footer.ejs') %>

    </body>

    </html>