<!DOCTYPE html>
<html lang="en">

<!-- header -->
<%- include('partials/header.ejs') %>

  <body>

    <!-- header -->
    <%- include('partials/menu.ejs') %>

      <img src=<%=image %>>

      <h1>
        <%= image %>
      </h1>

      <!-- <section class="section">
    <div class="container">
      <h1 class="title">Avatar</h1>

      <figure class="image" style="width: 256px">
        <img src="https://shopee.com.br/2-Camisetas-Basicas-Minimal-Club-Algod%C3%A3o-Eg%C3%ADpcio-Gola-Redonda-i.760207887.14987040068">

        <h1><%= image %></h1>
        <img src="<%= image %>">
      </figure> -->

      <!-- <p>URL: <a href="<%= image %>" target="_blank"><%= image %></a></p> -->

      <!-- </div>
  </section> -->
  </body>

</html>

<!-- <img src="/{{post.image}}> -->