<!-- header -->
<%- include('partials/header.ejs') %>

<body>

    <!-- HEADER -->
    <%- include('partials/menu.ejs') %>


    <main class="main__products">

        <section class="categories">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="text-uppercase text-center">Nossa Coleção</h2>
                        <hr />
                        <div class="list__categories">
                            <div class="lista__categories__card">
                                <div class="lista__categories__card__pic">
                                    <a href="/produtos"><img src="https://cdn.shopify.com/s/files/1/0526/4123/5093/products/6_1685c368-92b2-4e97-9587-0d68a80ad09e.jpg?v=1656552206" alt="" class="img-fluid"></a>
                                </div>
                                <div class="lista__categories__card__name">
                                    Camiseta Gola O
                                </div>
                            </div>
                            <div class="lista__categories__card">
                                <div class="lista__categories__card__pic">
                                    <a href="/produtos"><img src="https://cdn.shopify.com/s/files/1/0526/4123/5093/products/6_3.jpg?v=1659463010" alt="" class="img-fluid"></a>
                                </div>
                                <div class="lista__categories__card__name">
                                    Camiseta Gola V
                                </div>
                            </div>
                            <!-- <div class="lista__categories__card">
                                <div class="lista__categories__card__pic">
                                    <a href="/produtos"><img src="/images/categoria-3.png" alt="" class="img-fluid"></a>
                                </div>
                                <div class="lista__categories__card__name">
                                    Categoria 3
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/trending.ejs') %>

        <%- include('partials/benefits.ejs') %>

        <%- include('partials/instagram.ejs') %>


    </main>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>


</body></html>
