<%- include('partials/header.ejs') %>

  <body class="home">

    <!-- HEADER -->
    <%- include('partials/menu.ejs') %>

      <main>

        <section>
          <div class="container">
            <div class="row">
              <div class="col">
                <h2 class="text-uppercase text-center">Fornecedores</h2>
                <hr />
                <div class="mt-4 row">

                  <div class="col-12 col-lg-3 text-start">
                      <%- include('partials/menuAdmin') %>
                  </div>

                  <div class="col col-lg-9">

                    <% if (typeof errors !=='undefined' ) { %>
                      <ul>
                        <% for(let error in errors ) {%>
                          <li>
                            <%= errors[error].msg %>
                          </li>
                          <% } %>
                      </ul>
                      <% } %>

                      <div class="table-responsive">
                        <table class="table table-striped" border="1">
                            <thead>
                                <tr>
                                    <th>Nome da empresa</th>
                                    <th>Nome do contato</th>
                                    <th>Produto</th>
                                    <th>Telefone</th>
                                    <th>Email</th>
                                    <th>Endereço</th>
                                    <th>Número</th>
                                    <th>Complemento</th>
                                    <th>Bairro</th>
                                    <th>Cidade</th>
                                    <th>Estado</th>
                                    <th>Alterar</th>
                                    <th>Excluir</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <td>Nome da empresa</td>
                                  <td>Nome do contato</td>
                                  <td>Produto</td>
                                  <td>Telefone</td>
                                  <td>Email</td>
                                  <td>Endereço</td>
                                  <td>Número</td>
                                  <td>Complemento</td>
                                  <td>Bairro</td>
                                  <td>Cidade</td>
                                  <td>Estado</td>
                                  <td><a href="/adminpageCadastrosAltera/1" class="btn btn-primary"> Alterar </button></td>
                                  <td><button class="btn btn-primary"> Deletar </button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <br><br><br>

                        <form class="form row justify-content-center">
                          <div class="col-12 mb-3">
                            <label for="empresa" class="formLabel">Empresa (Sem Abreviações)*</label>
                            <input type="text" placeholder="Digique seu nome completo" empresa="empresa"
                              id="empresa" class="form__control w-100" />
                          </div>
                          <div class="col-12 mb-3">
                            <label for="nome" class="formLabel" >Nome*</label>
                            <input type="text" placeholder="Digite seu nome" name="nome" id="nome" class="form__control w-100" />
                          </div>
                          <div class="col-12 mb-3">
                            <label for="produto" class="formLabel" >Produto*</label>
                            <input type="text" placeholder="Digite seu produto" name="produto" id="produto" class="form__control w-100" />
                          </div>
                          <div class="col-12 mb-3">
                            <label for="telefone" class="formLabel" >Seu Telefone*</label>
                            <input type="text" placeholder="Ex: (xx) xxxxx-xxxx" name="telefone" id="telefone" class="form__control w-100" />
                          </div>
                          <div class="col-12 mb-3">
                            <label for="email" class="formLabel" >Seu e-mail*</label>
                            <input type="email" placeholder="Digite seu email" name="email" id="email" class="form__control w-100" />
                          </div>
                          <div class="col-12 mb-3">
                            <label for="address" class="formLabel" >Endereço*</label>
                            <input type="text" name="endereco" placeholder="Rua / Avenida / Praça" id="address" class="form__control w-100" />
                          </div>
                          <div class="col-12 mb-3">
                            <label for="numero" class="formLabel" >Número*</label>
                            <input type="text" name="numero" placeholder="Número" id="numero" class="form__control w-100" />
                          </div>
                          <div class="col-12 mb-3">
                            <label for="complemento" class="formLabel" >Complemento*</label>
                            <input type="text" name="complemento" placeholder="Casa / Apartamento" id="complemento" class="form__control w-100" />
                          </div>
                          <div class="col-12 mb-3">
                            <label for="bairro" class="formLabel" >Bairro*</label>
                            <input type="text" name="bairro" placeholder="Bairro" id="bairro" class="form__control w-100" />
                          </div>
                          <div class="col-12 mb-3">
                            <label for="cidade" class="formLabel" >Cidade*</label>
                            <input type="text" name="cidade" placeholder="Cidade" id="cidade" class="form__control w-100" />
                          </div>
                          <div class="col-12 mb-5">
                            <label for="estado" class="formLabel" >Estado*</label>
                            <input list="estado" name="estado" class="form__control w-100" />
                            <datalist id="estado">
                              <option value="AC"></option>
                              <option value="AL"></option>
                              <option value="AM"></option>
                              <option value="AP"></option>
                              <option value="BA"></option>
                              <option value="CE"></option>
                              <option value="DF"></option>
                              <option value="ES"></option>
                              <option value="GO"></option>
                              <option value="MA"></option>
                              <option value="MG"></option>
                              <option value="MS"></option>
                              <option value="MT"></option>
                              <option value="PA"></option>
                              <option value="PB"></option>
                              <option value="PE"></option>
                              <option value="PI"></option>
                              <option value="PR"></option>
                              <option value="RJ"></option>
                              <option value="RO"></option>
                              <option value="RN"></option>
                              <option value="RR"></option>
                              <option value="RS"></option>
                              <option value="SC"></option>
                              <option value="SE"></option>
                              <option value="SP"></option>
                              <option value="TO"></option>
                            </datalist>
                          </div>
                          <div class="col-12 text-center">
                            <button type="submit" class="btn form__submit">Alterar Fornecedor</button>
                          </div>
                        </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <%- include('partials/trending.ejs') %>

        <%- include('partials/benefits.ejs') %>

        <%- include('partials/instagram.ejs') %>

      </main>

      <!-- FOOTER -->
      <%- include('partials/footer.ejs') %>

  </body>

  </html>



  <!-- PODE USAR PARA FONTE O MEDIA QUERY, ONDE SERÁ O BREAK POINT DE VOCÊS?  -->