<!-- header -->
<%- include('partials/header.ejs') %>

<body>
    <!-- HEADER -->
    <%- include('partials/menu.ejs') %>

<main>
  <section>
    <% if(produtos){ %>
        <% produtos.forEach(produto => {%>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col text-center">
          <h2 class="text-uppercase text-center">Lista de Produtos Cadastrados</h2>
          <hr/>

        <a class="btn form__submit mt-5" href="/produtosestoque">Cadastrar Novo Produto</a>
        <!-- <a class="btn form__submit mt-5" href="">Deletar</a> -->
            <div class="btn">
                <button value="<%= produto.id %>" onclick="deletar(10)"> Deletar </button>
            </div>

          <div class="list__products">
            <div class="lista__products__card">
                <div class="lista__products__card__pic">
                    <a href="#"><img src="
                        https://cdn.shopify.com/s/files/1/0544/3731/4735/products/camiseta-minimal-426603_2048x2048.webp?v=1660209882" alt=""></a>
                </div>
                <div class="lista__products__card__fornecedor_id">
                    <%= produto.fornecedor_id %>
                </div>
                <div class="lista__products__card__categoria_id">
                    <%= produto.categoria_id %>
                </div>
                <div class="lista__products__card__name">
                    <%= produto.nome %>
                </div>
                <div class="lista__products__card__price">
                    <%= produto.preco %>
                </div>
                <div class="lista__products__card__cor">
                    <%= produto.cor %>
                </div>
                <div class="lista__products__card__name">
                    <%= produto.p_quantidade_disponivel %>
                </div>
                <div class="lista__products__card__name">
                    <%= produto.m_quantidade_disponivel %>
                </div>
                <div class="lista__products__card__name">
                    <%= produto.g_quantidade_disponivel %>
                </div>
                <!-- <div class="lista__products__card__name">
                    <%= produto.image_url %>
                </div> -->
                <div class="lista__products__card__name">
                    <%= produto.ativo %><br>
                </div>
                
            </div>
            <%})} %>
            <div class="lista__products__card">
                <div class="lista__products__card__pic">
                    <a href="#"><img src="/images/produto-fake-2.png" alt=""></a>
                </div>
                <div class="lista__products__card__name">
                    cardigan
                </div>
                <div class="lista__products__card__price">
                    R$120
                </div>
            </div>
            <div class="lista__products__card">
                <div class="lista__products__card__pic">
                    <a href="#"><img src="/images/produto-fake-3.png" alt=""></a>
                </div>
                <div class="lista__products__card__name">
                    21WN reversible angora cardigan
                </div>
                <div class="lista__products__card__price">
                    R$120
                </div>
            </div>
            <div class="lista__products__card">
                <div class="lista__products__card__pic">
                    <a href="#"><img src="/images/produto-fake-4.png" alt=""></a>
                </div>
                <div class="lista__products__card__name">
                    cardigan
                </div>
                <div class="lista__products__card__price">
                    R$120
                </div>
            </div>
            <div class="lista__products__card">
                <div class="lista__products__card__pic">
                    <a href="#"><img src="/images/produto-fake-1.png" alt=""></a>
                </div>
                <div class="lista__products__card__name">
                    21WN reversible angora cardigan
                </div>
                <div class="lista__products__card__price">
                    R$120
                </div>
            </div>
            <div class="lista__products__card">
                <div class="lista__products__card__pic">
                    <a href="#"><img src="/images/produto-fake-2.png" alt=""></a>
                </div>
                <div class="lista__products__card__name">
                    cardigan
                </div>
                <div class="lista__products__card__price">
                    R$120
                </div>
            </div>
            <div class="lista__products__card">
                <div class="lista__products__card__pic">
                    <a href="#"><img src="/images/produto-fake-3.png" alt=""></a>
                </div>
                <div class="lista__products__card__name">
                    21WN reversible angora cardigan
                </div>
                <div class="lista__products__card__price">
                    R$120
                </div>
            </div>
            <div class="lista__products__card">
                <div class="lista__products__card__pic">
                    <a href="#"><img src="/images/produto-fake-4.png" alt=""></a>
                </div>
                <div class="lista__products__card__name">
                    cardigan
                </div>
                <div class="lista__products__card__price">
                    R$120
                </div>
            </div>
            <div class="lista__products__card">
                <div class="lista__products__card__pic">
                    <a href="#"><img src="/images/produto-fake-1.png" alt=""></a>
                </div>
                <div class="lista__products__card__name">
                    21WN reversible angora cardigan
                </div>
                <div class="lista__products__card__price">
                    R$120
                </div>
            </div>
            <div class="lista__products__card">
                <div class="lista__products__card__pic">
                    <a href="#"><img src="/images/produto-fake-2.png" alt=""></a>
                </div>
                <div class="lista__products__card__name">
                    cardigan
                </div>
                <div class="lista__products__card__price">
                    R$120
                </div>
            </div>
            <div class="lista__products__card">
                <div class="lista__products__card__pic">
                    <a href="#"><img src="/images/produto-fake-3.png" alt=""></a>
                </div>
                <div class="lista__products__card__name">
                    21WN reversible angora cardigan
                </div>
                <div class="lista__products__card__price">
                    R$120
                </div>
            </div>
            <div class="lista__products__card">
                <div class="lista__products__card__pic">
                    <a href="#"><img src="/images/produto-fake-4.png" alt=""></a>
                </div>
                <div class="lista__products__card__name">
                    cardigan
                </div>
                <div class="lista__products__card__price">
                    R$120
                </div>
            </div>
            <div class="lista__products__card">
                <div class="lista__products__card__pic">
                    <a href="#"><img src="/images/produto-fake-1.png" alt=""></a>
                </div>
                <div class="lista__products__card__name">
                    21WN reversible angora cardigan
                </div>
                <div class="lista__products__card__price">
                    R$120
                </div>
            </div>
            <div class="lista__products__card">
                <div class="lista__products__card__pic">
                    <a href="#"><img src="/images/produto-fake-2.png" alt=""></a>
                </div>
                <div class="lista__products__card__name">
                    cardigan
                </div>
                <div class="lista__products__card__price">
                    R$120
                </div>
            </div>
          </div>

          <a class="btn form__submit mt-5" href="/produtosestoque">Cadastrar Novo Produto</a>
        </div>
      </div>
    </div>
  </section>

</main>
<script src="./partials/deletar.js"></script>
</body>
<!-- FOOTER -->
<%- include('partials/footer.ejs') %>
        
  
