<!-- header -->
<%- include('partials/header.ejs') %>

<body>

    <!-- HEADER -->
    <%- include('partials/menu.ejs') %>    

    <main>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="text-uppercase text-center">Login</h2>
                        <hr />
                        <div class="mt-4 row justify-content-center">
                            <div class="col col-lg-6">
                                <form class="form row justify-content-center" method="post">
                                    <div class="col-12 mb-3">
                                        <label class="formLabel" for="email">Email</label>
                                        <input type="email" id="email" name="email" placeholder="Digite seu email" class="form__control w-100" required>
                                    </div>
                                    <div class="col-12 mb-4">
                                        <label class="formLabel" for="senha">Senha</label>
                                        <input type="password" id="senha" name="senha" placeholder="Digite sua senha" class="form__control w-100" required>
                                    </div>
                                    <div class="col-12 mb-4 text-center">
                                        <p class="f14"><a href="/resetpassword">Esqueci minha senha</a><br>
                                            <a href="/registration">Ainda não tem conta? Clique aqui</a></p>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn form__submit">Continuar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/trending.ejs') %>

        <%- include('partials/benefits.ejs') %>

        <%- include('partials/instagram.ejs') %>

    </main>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>

</body></html>
