<!-- header -->
<%- include('partials/header.ejs') %>

<body>

    <!-- HEADER -->
    <%- include('partials/menu.ejs') %>

    <main>

        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <h2 class="text-uppercase text-center">Meu Cadastro</h2>
                        <hr/>

                        <% if (typeof errors !=='undefined' ) { %>
                            <ul>
                                <% for(let error in errors ) {%>
                                    <li>
                                        <%= errors[error].msg %>
                                    </li>
                                <% } %>
                            </ul>
                        <% } %>

                        <%- include('partials/menuCadastro.ejs') %>

                        <div class="mt-4 row justify-content-center">
                            <div class="col-12 col-lg-6">

                                <form class="form row justify-content-center" action="/registration" method="post" enctype="multipart/form-data">
                                    <div class="col-12 mb-3">
                                        <label for="name" class="formLabel">Nome</label>
                                        <input type="text" placeholder="Digite seu nome completo (sem abreviações)" name="name" id="name" class="form__control w-100"/>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="senha" class="formLabel">Senha</label>
                                        <input type="password" placeholder="Mínimo de 8 caracteres" name="password" id="password" class="form__control w-100"/>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="senha" class="formLabel">Confirme sua Senha</label>
                                        <input type="password" placeholder="Mínimo de 8 caracteres" name="confirm_password" id="confirm_password" class="form__control w-100"/>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="email" class="formLabel">Email</label>
                                        <input type="email" placeholder="Digite seu email" name="email" id="email" class="form__control w-100"/>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="gender" class="formLabel">Sexo</label>
                                        <input list="gender" name="gender" placeholder="Masculino / Feminino" class="form__control w-100"/><br>
                                            <datalist id="gender">
                                                <option value="Masculino"></option>
                                                <option value="Feminino"></option>
                                            </datalist>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="cpf" class="formLabel">CPF</label>
                                        <input type="text" placeholder="Ex: 000.000.000-00" name="cpf" id="cpf" pattern="[0-9]{11}" class="form__control w-100"/>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="birthdate" class="formLabel">Seu aniversário</label>
                                        <input id="date" type="date" name="birthdate" value="2000-01-01" class="form__control w-100"/>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="telefone" class="formLabel">Telefone</label>
                                        <input type="text" placeholder="Ex: (xx) xxxxx-xxxx" name="telefone" id="telefone" class="form__control w-100"/>
                                    </div>                                    
                                    <div class="col-12 mb-3" id="file-js-example">
                                        <label for="avatar" class="formLabel">Imagem URL</label>
                                        <input type="file" name="avatar" placeholder="avatar" id="avatar" accept="image/*" class="form__control w-100"/>
                                    </div>
                                    <span class="file-name">
                                        No file uploaded
                                    </span>
                                    <div class="col-12 mt-4 text-center">
                                        <button type="submit" class="btn form__submit" value="Upload">Atualizar Cadastro</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            const fileInput = document.querySelector('#file-js-example input[type=file]');
            fileInput.onchange = () => {
                if (fileInput.files.length > 0) {
                    const fileName = document.querySelector('#file-js-example .file-name');
                    fileName.textContent = fileInput.files[0].name;
                    const submitButton = document.querySelector('#file-js-submit');
                    submitButton.removeAttribute('disabled')
                }
            }
        </script>

            <%- include('partials/trending.ejs') %>

            <%- include('partials/benefits.ejs') %>

            <%- include('partials/instagram.ejs') %>

    </main>

        <!-- FOOTER -->
        <%- include('partials/footer.ejs') %>

    </body>
</html></body></body>
