<!-- header -->
<%- include('partials/header.ejs') %>

<body>

    <!-- HEADER -->
    <%- include('partials/menu.ejs') %>

    <main>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="text-uppercase text-center">Nossa história</h2>
                        <hr/>
                        <div class="mt-4 row justify-content-center">
                            <div class="col col-lg-6">
                                <h3 class="">Conforto e Beleza</h3>
                                <p>Usamos um dos tecidos mais nobres do mundo para a confecção das nossas Camisetas: O algodão Egípcio!</p>
                                <p>Suas fibras são em média 3x mais resistentes que o algodão comum, o que faz com que seja mais macia e durável.</p>
                                <p>Seu brilho natural faz com que esse tipo de algodão tenha cores mais vivas e conserve sua beleza por muito mais tempo.</p>
                                <p>Descubra por que nossa camiseta é tão querida por milhares de pessoas:</p>
                                <p><img src="/images/TechTShirt_Preta-06.jpg" alt="" class="img-fluid"></p>

                                <p class="mt-5">
                                    Usamos um dos tecidos mais nobres do mundo para a        confecção das nossas Camisetas: O algodão Egípcio!</p>

                                <p>Suas fibras são em média 3x mais resistentes que o algodão comum, o que faz com que seja mais macia e durável.</p>

                                <p>Seu brilho natural faz com que esse tipo de algodão tenha cores mais vivas e conserve sua beleza por muito mais tempo.</p>

                                <p>Descubra por que nossa camiseta é tão querida por milhares de pessoas:</p>
                                <p><img src="/images/novos-benefícios.jpg" alt="" class="img-fluid"></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/trending.ejs') %>

        <%- include('partials/benefits.ejs') %>

        <%- include('partials/instagram.ejs') %>

    </main>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>

</body></html>
