<!-- header -->
<%- include('partials/header.ejs') %>

<body>

    <!-- HEADER -->
    <%- include('partials/menu.ejs') %>


    <main class="main__products">

        <section class="categories">            
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col col-lg-6">
                        <h2 class="text-uppercase text-center">Nossa Coleção</h2>
                        <hr/>
                        <br>
                        <div class="list__products list__category">
                            <% if(produtos){ %>
                                <% produtos.forEach(produto => {%>
                                    <div class="lista__products__card">
                                        <div class="lista__products__card__pic">
                                            <a href="/productdetails"> <img src=<%= produto.image_url %>></a>
                                        </div>
                                        <div class="lista__products__card__name">
                                            <%= produto.nome %>
                                        </div>
                                        <div class="lista__products__card__price">
                                            <%= produto.preco %>
                                        </div>
                                    </div>
                            <% })} %>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/trending.ejs') %>

        <%- include('partials/benefits.ejs') %>

        <%- include('partials/instagram.ejs') %>


    </main>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>


</body></html>
