<!-- header -->
<%- include('partials/header.ejs') %>

<body>

<!-- HEADER -->
<%- include('partials/menu.ejs') %>

     <main>

        <section class="products">
            <div class="container">
                <div class="row">
                    <div class="col text-center">

                        <div class="product-details">
                            <div>
                                <img src=<%= detalheproduto.image_url %>> alt="">
                            </div>
                            <!-- <div>
                                <img src="/images/produto-aberto-2.png" alt="">
                            </div>
                            <div>
                                <img src="/images/produto-aberto-3.png" alt="">
                            </div>
                            <div>
                                <img src="/images/produto-aberto-4.png" alt="">
                            </div>
                            <div>
                                <img src="/images/produto-aberto-5.png" alt="">
                            </div> -->
                        </div>

                        <div class="row justify-content-center mb-5">
                            <div class="col col-lg-4">
                                <div class="products__details">
                                    <div class="products__details__name">
                                        MOHAN
                                    </div>
                                    <div class="products__details__description">
                                        Recycle Boucle Knit Cardigan Pink
                                    </div>
                                    <div class="products__details__price mb-3">
                                        R$120
                                    </div>
                                    <div class="products__details__color d-flex gap-3 align-items-center mb-3">
                                        <div class="products__details__color__label">
                                            <!-- Cores
                                        </div>
                                        <div class="products__details__color__pallete d-flex">
                                            <div class="products__details__color__pallete__item">
                                                <input type="radio" id="cor-1" name="color">
                                                <label for="cor-1">Preto</label>
                                            </div>
                                            <div class="products__details__color__pallete__item">
                                                <input type="radio" id="cor-2" name="color">
                                                <label for="cor-2">Cinza</label>
                                            </div>
                                            <div class="products__details__color__pallete__item">
                                                <input type="radio" id="cor-3" name="color">
                                                <label for="cor-3">Branco</label>
                                            </div>
                                            <div class="products__details__color__pallete__item">
                                                <input type="radio" id="cor-4" name="color">
                                                <label for="cor-4">Azul</label>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="products__details__size d-flex gap-3 align-items-center mb-3">
                                        <div class="products__details__size__label">
                                            Tamanho
                                        </div>
                                        <div class="products__details__size__sizes d-flex">
                                            <div class="products__details__size__sizes__item">
                                                <input type="radio" id="p_quantidade_disponivel" name="size">
                                                <label for="tamanho-1">P</label>
                                            </div>
                                            <div class="products__details__size__sizes__item">
                                                <input type="radio" id="m_quantidade_disponivel" name="size">
                                                <label for="tamanho-2">M</label>
                                            </div>
                                            <div class="products__details__size__sizes__item">
                                                <input type="radio" id="g_quantidade_disponivel" name="size">
                                                <label for="tamanho-3">G</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products__details__amount d-flex gap-3 align-items-center">
                                        <div class="products__details__amount__label">
                                            Quantidade
                                        </div>
                                        <div class="products__details__amount__amounts">
                                            <div class="number-input">
                                                <button onclick="this.parentNode.querySelector('input[name=quantity]').stepDown()" class="minus"></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn form__submit">Adicionar ao carrinho</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <script>
            function AddCarrinho(produto, qtd, valor, posicao)
            {
                localStorage.setItem("produto" + posicao, produto);
                localStorage.setItem("qtd" + posicao, qtd);
                valor = valor * qtd;
                localStorage.setItem("valor" + posicao, valor);
                alert("Produto adicionado ao carrinho!");
            }
        </script>

        <%- include('partials/trending.ejs') %>

        <%- include('partials/benefits.ejs') %>

        <%- include('partials/instagram.ejs') %>

     </main>

<!-- FOOTER -->
<%- include('partials/footer.ejs') %>

</body>
</html>