<!-- header -->
<%- include('partials/header.ejs') %>

<body>

    <!-- HEADER -->
    <%- include('partials/menu.ejs') %>


    <main class="main__products">

        <section class="categories">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="text-uppercase text-center">Nossa Coleção</h2>
                        <hr/>
                        <div class="list__products">
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="/productdetails"><img src="/images/produto-fake-1.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    21WN reversible angora cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="/productdetails"><img src="/images/produto-fake-2.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="/productdetails"><img src="/images/produto-fake-3.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    21WN reversible angora cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="/productdetails"><img src="/images/produto-fake-4.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="/productdetails"><img src="/images/produto-fake-1.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    21WN reversible angora cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="/productdetails"><img src="/images/produto-fake-2.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="/productdetails"><img src="/images/produto-fake-3.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    21WN reversible angora cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="/productdetails"><img src="/images/produto-fake-4.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="/productdetails"><img src="/images/produto-fake-1.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    21WN reversible angora cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="/productdetails"><img src="/images/produto-fake-2.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="/productdetails"><img src="/images/produto-fake-3.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    21WN reversible angora cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="/productdetails"><img src="/images/produto-fake-4.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="/productdetails"><img src="/images/produto-fake-1.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    21WN reversible angora cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                            <div class="lista__products__card">
                                <div class="lista__products__card__pic">
                                    <a href="/productdetails"><img src="/images/produto-fake-2.png" alt=""></a>
                                </div>
                                <div class="lista__products__card__name">
                                    cardigan
                                </div>
                                <div class="lista__products__card__price">
                                    R$120
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/trending.ejs') %>

        <%- include('partials/benefits.ejs') %>

        <%- include('partials/instagram.ejs') %>


    </main>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>


</body></html>
