<!-- header -->
<%- include('partials/header.ejs') %>

    <body>

        <!-- HEADER -->
        <%- include('partials/menu.ejs') %>

            <main>

                <section class="products">

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col col-lg-6 text-center">

                                <div class="product-details">
                                    <div>
                                        <a href="#" class="product-details-link"> <img src=<%=detalheproduto.image_url
                                                %> alt=""></a>
                                    </div>
                                </div>

                                <div class="row justify-content-center mt-4 mb-5">
                                    <div class="col col-lg-7">
                                        <div class="products__details">
                                            <div class="products__details__name">
                                                <strong>
                                                    <%= detalheproduto.nome %>
                                                </strong>
                                            </div>
                                            <div class="products__details__description">
                                                Camiseta Básica
                                            </div>
                                            <div class="products__details__price mb-3">
                                                R$ <%= detalheproduto.preco %>
                                            </div>

                                        </div>
                                        <div class="products__details__size d-flex gap-3 align-items-center mb-3">
                                            <div class="products__details__size__label">
                                                Tamanho
                                            </div>
                                            <div class="products__details__size__sizes d-flex gap-3">
                                                <div class="products__details__size__sizes__item">
                                                    <input type="radio" id="p_quantidade_disponivel" name="size">
                                                    <label for="tamanho-1">P</label>
                                                    <div class="number-input">
                                                        <button
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                            class="minus"></button>
                                                        <input class="quantity" min="0" max="99" name="quantity"
                                                            value="0" type="number" id="qtd1">
                                                        <button
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                            class="plus"></button>
                                                    </div>
                                                    <button type="button" id="adicionar1" id="produto1"
                                                        onclick="AddCarrinho('Tamanho P', document.getElementById('qtd1').value, <%= detalheproduto.preco %>, 1)"
                                                        class="mt-3 btn btn-secondary"> Comprar </button>
                                                </div>

                                                <div class="products__details__size__sizes__item">
                                                    <input type="radio" id="p_quantidade_disponivel" name="size">
                                                    <label for="tamanho-1">M</label>
                                                    <div class="number-input">
                                                        <button
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                            class="minus"></button>
                                                        <input class="quantity" min="0" max="99" name="quantity"
                                                            value="0" type="number" id="qtd2">
                                                        <button
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                            class="plus"></button>

                                                    </div>
                                                    <button type="button" id="adicionar1" id="produto1"
                                                        onclick="AddCarrinho('Tamanho M', document.getElementById('qtd2').value, <%= detalheproduto.preco %>, 2)"
                                                        class="mt-3 btn btn-secondary"> Comprar </button>
                                                </div>
                                                <div class="products__details__size__sizes__item">
                                                    <input type="radio" id="p_quantidade_disponivel" name="size">
                                                    <label for="tamanho-1">G</label>
                                                    <div class="number-input">
                                                        <button
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                            class="minus"></button>
                                                        <input class="quantity" min="0" max="99" name="quantity"
                                                            value="1" type="number" id="qtd3">
                                                        <button
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                            class="plus"></button>

                                                    </div>
                                                    <button type="button" id="adicionar1" id="produto1"
                                                        onclick="AddCarrinho('Tamanho G', document.getElementById('qtd3').value, <%= detalheproduto.preco %>, 3)"
                                                        class="mt-3 btn btn-secondary"> Comprar </button>
                                                </div>

                                            </div>

                                        </div>
                                        <div>
                                            <a href="/carrinho?id=<%= detalheproduto.id %>&carrinho=true"
                                                class="mt-4 btn form__submit">Ver Carrinho de compras</a>

                                        </div>

                                    </div>
                                </div>
                            </div>





                        </div>
                    </div>
                    </div>
                </section>


                <script>

                    function AddCarrinho(produto, qtd, valor, posicao) {
                        localStorage.setItem("produto" + posicao, produto);
                        localStorage.setItem("qtd" + posicao, qtd);
                        valor = valor * qtd;
                        localStorage.setItem("valor" + posicao, valor)

                        alert("Produto adicionado ao carrinho!");
                    }
                </script>



                <%- include('partials/trending.ejs') %>

                    <%- include('partials/benefits.ejs') %>

                        <%- include('partials/instagram.ejs') %>

            </main>

            <!-- FOOTER -->
            <%- include('partials/footer.ejs') %>

    </body>

    </html>